.cryptocontainer {
  display: block;
}

.cryptoinnercontainer {
  display: flex;
  justify-content: space-around;
  align-items: right;
}

.mypricecontainer {
  display: flex;
  justify-content: space-around;
  align-items: right; 
}